@tailwind base;
@tailwind components;
@tailwind utilities;


.cvssjs i {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: url("./assets/cvssicons.png") 0 0 no-repeat;
    vertical-align: middle;
    background-size: cover;
    font-size:35px;
    margin: 2px;
}

.cvssjs i.AVN {
    background-position: -3em 0;
}

.cvssjs i.AVA {
    background-position: -2em 0;
}

.cvssjs i.AVL {
    background-position: -1em 0;
}

.cvssjs i.AVP {
    background-position: 0 0;
}

.cvssjs i.ACL {
    background-position: -4em 0;
}

.cvssjs i.ACH {
    background-position: -5em 0;
}

.cvssjs i.PRN {
    background-position: -6em 0;
}

.cvssjs i.PRL {
    background-position: -7em 0;
}

.cvssjs i.PRH {
    background-position: -8em 0;
}

.cvssjs i.UIN {
    background-position: -10em 0;
}

.cvssjs i.UIR {
    background-position: -9em 0;
}

.cvssjs i.SC {
    background-position: -11em 0;
}

.cvssjs i.SU {
    background-position: -10em 0;
}

.cvssjs i.CH {
    background-position: -14em 0;
}

.cvssjs i.CL {
    background-position: -13em 0;
}

.cvssjs i.CN {
    background-position: -12em 0;
}

.cvssjs i.IH {
    background-position: -16em 0;
}

.cvssjs i.IL {
    background-position: -17em 0;
}

.cvssjs i.IN {
    background-position: -15em 0;
}

.cvssjs i.AH {
    background-position: -20em 0;
}

.cvssjs i.AL {
    background-position: -19em 0;
}

.cvssjs i.AN {
    background-position: -18em 0;
}

